body{
  font-family: 'News Cycle', sans-serif !important;
}
footer{
  margin-top: 10rem !important;
}
p{
  text-align: left;
  font-size: 22px;
}
h1{
  text-align: center;
}
.content{
  text-align: center;/* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  overflow: hidden;
  height: auto;
}

.btnpositioning:hover{
  background-color: lightblue !important;
  border: 0;
}
.img-sizing{
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.heading{
  padding: 2rem 0 9rem 0;
  background-image: url(pictures/main-picture.jpg);
  object-fit: cover;
}
.margin-content{
  margin: 15rem 5rem;
}
a:hover{
  color: lightblue !important;
}
.text-ml{
  margin: 10rem 0 10rem 0;
  height: auto;
  width: 100%;
  color: white;
}
.text-middle{
  margin: 10rem 20rem 10rem 20rem;
}
.btn-changes{
  width: 50%;
  height: 4rem;
  border: 0 !important;
  border-radius: 0 !important;
}
#footer{
  height: 5rem;
}
