.navbar{
  background-color: #B3EAD7;
  height: 5rem;
}
.bgColor{
  background-color: #B3EAD7;
}

.navbar > p{
  margin: 0 !important;
}
.grid-pos{
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
#movedown{
  margin-top: 7rem !important; 
}
.content{
  text-align: center;
  background-color: #F6F7F8;
  overflow: hidden;
  transition: transform .5s ease;
}
.content:hover{
  transform: scale(1.02);
}
.btnpositioning{
  margin: 2rem 0;
}
.sW{
  color: black !important;
}
.sW:hover{
  color: white !important;
}
.picturePos{
  object-fit: cover;
  object-position:50% 50%;
  height: 100%;
}
.content{
  height: 400px;
}
.img-sizing{
  width: 100%;
  height: 50%;
  object-fit: cover;
}